{% extends 'base.html' %}

{% block content %}
<div class="row ms-3">
    <h6 class="ms-2 mt-5"></h6>
    <hr>
    <div class="col-12 mt-5">
        <h6>About</h6>
        <hr>
    </div>
    <div class="col-5">
        <div class="card">
            <img src="../static/Recommender/Images/food.jpg" class="card-img-top" alt="..." height="300">

        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <img src="../static/Recommender/Images/exe.jpg" class="card-img-top" alt="..." height="300">
        </div>
    </div>
    <div class="col-12 mt-3">
        Info :
        <p class="ms-5">
            - Our Main goal is to give most healty diet with potential to develop health with good exercises.
        </p>
        <p class="ms-5">
            - The only Health and Wellness app you will ever need.
        </p>
        <p class="ms-5">
            - 10+ million happy users • 5+ million kgs lost • 600+ coaches
        </p>
    </div>
    <!-- <div class="col-5 me-2">
          <div class="card">
            <img src="../static/Recommender/Images/exe.jpg" class="card-img-top" alt="..." height="150">
          </div>
    </div> -->
    <div class="col-12 mt-5">
        <h6>Developers</h6>
        <hr>
    </div>
    <div class="col-3 mt-5 ms-5">
        <div class="card">
            <img src="../static/Recommender/Images/vandana.jpg" class="card-img-top" alt="..." height="200">
            <div class="card-body">
                <h2>Vandana Chanchlani</h2>
                Frontend Developer<br>
                vandanachanchlani@gmail.com <br>
                Contact : +91 1234567890
            </div>
        </div>
    </div>
    <div class="col-3 mt-5 ms-5">
        <div class="card">
            <img src="../static/Recommender/Images/jai.jpg" class="card-img-top" alt="..." height="200">
            <div class="card-body">
                <h2>Jai Mulani</h2>
                FrondEnd Developer<br>
                jaimulani@gmail.com<br>
                Contact : +91 2345678901
            </div>
        </div>
    </div>
    <div class="col-3 mt-5 ms-5">
        <div class="card">
            <img src="../static/Recommender/Images/jayesh1.jpg" class="card-img-top" alt="..." height="200">
            <div class="card-body">
                <h2>Jayesh Parsnani</h2>
                Backend Developer.<br>
                jayeshparsnani@gmail.com<br>
                Contact : +91 3456789012
            </div>
        </div>
    </div>
</div>
{% endblock %}